/* /* /* .page-content {
    margin-left: 250px;
    padding: 20px;
    border: "1px solid red"
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Reset the default margin and padding for all elements */
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to the page container */
/*
.page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border: 2px solid red;
    height: 100%;
    /* Optional padding */
/*
}

/* Style the content area */
/*
.content {
    display: flex;
    width: 100%;
}

/* Sidebar and content styling */
/*
.page-content {
    margin-left: 20px;
    /* Space between sidebar and content */
/*
    flex-grow: 1;
}
*/
/* Optional: Adjust the <h1> styling */
/*
h1 {
    margin: 0 0 20px 0;
    /* Bottom margin for some space after the heading */
/*
} */
/* body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
} */

/* App.css */
.app-container {
    display: flex;
    height: 100vh;
    transition: all 0.3s ease;
    border: 2px solid red;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    /* width: 100vw; */
    /* Default content width */
    transition: width 0.3s ease;
    /* Smooth transition for width change */
    /* border: 2px solid blue; */
}

@media (min-width: 768px) {
    .main-content {
        transition: width 0.3s ease;
    }
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        /* No margin on mobile */
    }
}